@import '~element-plus/lib/theme-chalk/index.css';
html,
body {
  height: 100%;
}
.el-table__empty-text {
  display: block;
  width: 180px;
  height: 100px;
  top: 15%;
  padding-top: 110px;
  position: absolute;
  color: #909399;
  box-sizing: border-box;
}
.el-table__empty-block {
  height: 345px !important;
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .el-table__empty-text {
    left: 40%;
  }
  .el-dialog .el-table__empty-text {
    left: auto;
  }
}
@media screen and (min-width: 1366px) {
  .el-table__empty-text {
    left: 40%;
  }
  .el-dialog .el-table__empty-text {
    left: auto;
  }
}
.kit_title {
  background: rgba(85, 135, 240, 0.1);
  font-size: 14px;
  padding-left: 10px;
  border-radius: 3px;
  line-height: 2.5;
  margin: 0 0 10px;
  color: #4a4a4a;
  border-left: 2px solid #5587f0;
}
.kit_page {
  text-align: right;
  margin-top: 10px;
}
.kit_btn {
  cursor: pointer;
  color: #3a8ee6;
}
.kit_btn:hover {
  color: #66b1ff;
}
.kit_fade-enter-active {
  animation: kit-fade 0.5s ease-in;
}
.kit_line_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.kit_fade-leave-active {
  animation: kit-fade 0.5s reverse;
}
@keyframes kit-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.kit .el-button + .el-button,
.kit .el-checkbox.is-bordered + .el-checkbox.is-bordered {
  margin-left: 8px;
}
.kit .el-dialog__header {
  border-bottom: 1px solid #dcdcdc;
}
.kit .el-dialog__body {
  max-height: 60vh;
  overflow: scroll;
}
.kit .form_box {
  display: flex;
}
.kit .form_box .form {
  flex: 1;
}
.kit .form_box .reset {
  width: 130px;
  padding: 0 0 18px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dcdcdc;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 100px;
  background: #fff;
}
::-webkit-scrollbar {
  width: 7px;
  height: 12px;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(144, 147, 153, 0.5);
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(144, 147, 153, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.config_table_title .title {
  border-bottom: 1px solid rgba(195, 195, 195, 0.5);
  font-size: 14px;
  padding: 0 0 5px;
  margin-bottom: 5px;
}
.config_table_title .check_box {
  line-height: 1.7;
}
/*单行超出显示省略号*/
.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.el-button.red {
  background: #fa5f87;
  border-color: #fa5f87;
}
.el-button.red:hover {
  background: #f87c9c;
  border-color: #f87c9c;
}
.kit_btn_line {
  border: 1px dashed #5587f0;
  border-radius: 17px;
  color: #5587f0;
  font-weight: 400;
  font-size: 12px;
  padding: 0 7px;
  display: inline-block;
  line-height: 1.5;
  margin-right: 5px;
  cursor: pointer;
}
.kit_label .el-form-item--mini .el-form-item__label {
  font-size: 14px;
  line-height: 30px;
}
.el-table__fixed,
.el-table__fixed-right {
  height: auto !important;
  bottom: -5px !important;
}
:export {
  menuText: #ccc;
  menuActiveText: #fff;
  menuActiveBg: #5587F0;
  menuBg: #252A2F;
  subMenuBg: #000000;
  subMenuHover: #5587F0;
  menuWidth: 200px;
  menuMinWidth: 60px;
}
.app__wrap--Classic .horizontal-collapse-transition,
.app__wrap--LeftTop .horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out !important;
}
.app__wrap--Classic .sidebar-container,
.app__wrap--LeftTop .sidebar-container {
  background: #252A2F;
}
.app__wrap--Classic .sidebar-container .el-menu .el-menu-item,
.app__wrap--LeftTop .sidebar-container .el-menu .el-menu-item,
.app__wrap--Classic .sidebar-container .el-menu .el-submenu__title,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu__title {
  color: #ccc !important;
  background-color: #252A2F !important;
}
.app__wrap--Classic .sidebar-container .el-menu .el-menu-item i,
.app__wrap--LeftTop .sidebar-container .el-menu .el-menu-item i,
.app__wrap--Classic .sidebar-container .el-menu .el-submenu__title i,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu__title i {
  color: #ccc !important;
}
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .el-menu-item,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .el-menu-item,
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .el-submenu,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .el-submenu {
  background-color: #000000 !important;
}
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .el-submenu__icon-arrow,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .el-submenu__icon-arrow {
  font-size: 18px;
}
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .is-active,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .is-active {
  color: #fff !important;
  background-color: #5587F0 !important;
}
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .is-active > .el-submenu__title,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .is-active > .el-submenu__title {
  color: #fff !important;
}
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .is-opened,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .is-opened,
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .el-menu,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .el-menu {
  background-color: #000000 !important;
}
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .is-opened .el-submenu__title,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .is-opened .el-submenu__title,
.app__wrap--Classic .sidebar-container .el-menu .el-submenu .el-menu .el-submenu__title,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu .el-menu .el-submenu__title {
  background-color: #000000 !important;
}
.app__wrap--Classic .sidebar-container .el-menu .submenu-title-noDropdown:hover,
.app__wrap--LeftTop .sidebar-container .el-menu .submenu-title-noDropdown:hover,
.app__wrap--Classic .sidebar-container .el-menu .el-submenu__title:hover,
.app__wrap--LeftTop .sidebar-container .el-menu .el-submenu__title:hover {
  background-color: #252A2F !important;
  color: #fff !important;
}
.app__wrap--Classic .sidebar-container .el-menu .el-menu-item:hover,
.app__wrap--LeftTop .sidebar-container .el-menu .el-menu-item:hover {
  color: #fff !important;
  background-color: #5587F0 !important;
}
.app__wrap--Classic .sidebar-container .el-menu .is-active,
.app__wrap--LeftTop .sidebar-container .el-menu .is-active {
  color: #fff !important;
  background-color: #5587F0 !important;
}
.app__wrap--Classic .sidebar-container .el-menu .is-active:hover,
.app__wrap--LeftTop .sidebar-container .el-menu .is-active:hover {
  color: #fff !important;
  background-color: #5587F0 !important;
}
.app__wrap--Classic .sidebar-container .el-menu .is-active > .el-submenu__title,
.app__wrap--LeftTop .sidebar-container .el-menu .is-active > .el-submenu__title {
  color: #fff !important;
}
.app__wrap--Classic .sidebar-container .el-menu--collapse > div > .el-submenu i,
.app__wrap--LeftTop .sidebar-container .el-menu--collapse > div > .el-submenu i {
  display: none;
}
.app__wrap--Classic .sidebar-container .el-menu--collapse .is-active > .el-submenu__title,
.app__wrap--LeftTop .sidebar-container .el-menu--collapse .is-active > .el-submenu__title {
  background-color: #5587F0 !important;
}
.nest-popper-menu {
  background: #252A2F;
}
.nest-popper-menu .el-menu {
  background-color: #252A2F !important;
}
.nest-popper-menu .el-menu .el-menu-item,
.nest-popper-menu .el-menu .el-submenu__title {
  color: #ccc !important;
  background-color: #252A2F !important;
}
.nest-popper-menu .el-menu .el-menu-item i,
.nest-popper-menu .el-menu .el-submenu__title i {
  color: #ccc !important;
}
.nest-popper-menu .el-menu .is-active {
  color: #fff !important;
  background-color: #5587F0 !important;
}
.nest-popper-menu .el-menu .is-active > .el-submenu__title {
  color: #fff !important;
}
.nest-popper-menu .el-menu .submenu-title-noDropdown:hover,
.nest-popper-menu .el-menu .el-submenu__title:hover {
  background-color: #252A2F !important;
  color: #fff !important;
}
.nest-popper-menu .el-menu .el-menu-item:hover {
  color: #fff !important;
}
body {
  color: #333;
}
.el-table tr th {
  background: #f5f5f5;
}
.el-form-item--mini .el-form-item__label {
  font-size: 12px;
  line-height: 30px;
}
.searchArea .el-form-item--mini .el-form-item__label {
  font-size: 14px;
  line-height: 30px;
  color: #333;
}
.el-dialog__body {
  padding: 24px;
}
.el-dialog__title {
  font-size: 16px;
  color: #393939;
  font-weight: 800;
}
.el-button--text {
  border-color: transparent;
  color: #5587f0;
  background: 0 0;
  padding-left: 0;
  padding-right: 0;
}
.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
  width: 100%;
}
.el-button--default {
  border: 1px solid #5587f0;
  color: #5587f0;
}
.el-button--primary {
  color: #fff;
  background-color: #5587f0;
  border-color: #5587f0;
}
.el-button--default .el-input__inner,
.el-button--primary .el-input__inner {
  height: 32px;
}
.el-button--default,
.el-button--primary {
  min-height: 32px;
  padding: 9px 23px;
}
.el-range-editor--mini.el-input__inner {
  height: 32px;
}
.el-input__inner,
.el-input--mini .el-input__inner,
.el-input--small .el-input__inner {
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
}
.el-button {
  border-radius: 2px;
}
.el-table {
  color: #333;
}
.el-table th {
  font-weight: normal;
  color: #666;
}
.el-table th,
.el-table td {
  padding: 8px 0;
}
.el-table th .cell > .el-button,
.el-table td .cell > .el-button {
  height: auto;
  min-height: auto;
  padding: 0;
  margin: 0 0 0 10px;
}
.el-table th:last-child,
.el-table td:last-child {
  text-align: right;
}
.el-table th:last-child .cell,
.el-table td:last-child .cell {
  padding-right: 25px;
}
.el-dialog .el-table th:last-child .cell,
.el-dialog .el-table td:last-child .cell {
  padding-right: 10px;
}
.el-dialog__title {
  font-weight: normal;
  color: #323232;
  font-size: 16px;
}
.el-dialog__body {
  padding: 20px;
}
.el-pagination {
  color: #666;
}
.el-pagination .el-pagination__total,
.el-pagination .el-pagination__sizes,
.el-pagination .el-pagination__jump {
  color: #666;
}
.el-pagination .el-input__inner {
  height: 28px;
  line-height: 28px;
  border-color: #dcdcdc;
  border-radius: 2px;
}
.el-pagination .el-select .el-input__inner {
  border-color: #ddd;
}
.el-pagination .el-pager li {
  background-color: transparent;
  font-weight: normal;
}
.el-pagination .el-pager li.active {
  background-color: rgba(85, 135, 240, 0.1);
  color: #5587f0;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background-color: transparent;
  font-weight: normal;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: rgba(85, 135, 240, 0.1);
  color: #5587f0;
}
.el-message-box {
  padding-bottom: 24px;
}
.el-message-box__header {
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdcdc;
}
.el-message-box__content {
  padding: 18px 15px 27px;
}
.el-message-box__title {
  color: #323232;
  font-size: 16px;
  font-weight: 700;
}
/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}
.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}
/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}
.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}
.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}
.breadcrumb-move {
  transition: all 0.5s;
}
.breadcrumb-leave-active {
  position: absolute;
}
